BasedOnStyle: Microsoft
UseTab: Never
IndentWidth: 4

# Bracket
# BracketAlignmentStyle: BAS_Align

# Array
# ArrayInitializerAlignmentStyle: AIAS_Left

# Macros
# AlignConsecutiveMacros: AcrossEmptyLines

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
#  EscapedNewlineAlignmentStyle: ENAS_LeftWithLastLine 



# EOF with new line
#InsertNewlineAtEOF: true

# disable extern "C" Indent
#IndentExternBlock: AfterExternBlock
#BraceWrapping.AfterExternBlock: false

IndentExternBlock: NoIndent

# math equations
# CommentPragmas (//tex:)

